*{
    text-align: center;
}

.header{
    display: grid;
    display: inline-block;
    margin: 30px 100px;
    width: 400px;
    background-color: rgb(238, 247, 240);
    color: rgb(0, 0, 0);
    border-radius: 15px;

}
.sidebar{
    display: grid;
    grid-template-areas:
    

}

.it1{
    grid-area: it1;
}
.it2{
    grid-area: it2;
}

.human{
    display: grid;
    background-color: white;
    margin: 50px 200px;
    padding: 50px;
    border-radius: 15px;
    
}
.fix{
    top: 450px;
    left: 1000px;
    position: fixed;
    width: 150px;
}