{% load static %}

<style>
    * {text-align:center;}

</style>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<div class="home">


<div class="title">
    <h1>지원서 페이지</h1>

</div>

<div class="human">
    {% for human in humans.all %}

    <a href="{% url 'detail' human.id %}"><h2>{{human.name}} </h2></a>
    
{% endfor %}
</div>

<div class="fix">
   
<a href="{% url 'create'%}" > 
    <img src="https://img-premium.flaticon.com/png/512/709/709484.png?token=exp=1621187066~hmac=2c37982b55c43f6a1fbfd95b665f5a2d" width="50px" height="50px">
</a>
</div>

</div>

