{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div class="header">
        <h1>지원서 페이지</h1>
</div>

<!-- <div class="container">
    <div class="it1"> <h3>지원자</h3></div> 
    <div class="it2"> <h3>합격자</h3></div>
</div> -->

<div class="human">
    {% for human in humans.all %}

       <div class="h"> 
            <img src="{{ human.image.url }}" width="100px" height="100px">
           
            <a href="{% url 'detail' human.id %}"><h3>{{human.name}} </h3></a> 
           <br> 나이 : {{human.age}}
            <br>
            <a href="{% url 'update' human.id %}">수정</a>
            <a href="{% url 'delete' human.id%}">삭제</a>
        </div>

    {% endfor %}
</div>

<div class="fix">
   
    <a href="{% url 'create'%}" > 
      <img src="{% static 'image/add.png'%}" width="50px" height="50px">
    </a>
</div>

<img src="{% static 'image/웨핫스.jpg' %}" width="100px" height="100px" alt="">


